.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 97% !important;
}

.container-carrusell {
  width: 100%;
  min-height: 60vh;
  display: -webkit-flex !important;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center !important;
  align-items: center !important;
  padding: 15px;
  background: -webkit-linear-gradient(to right, #285D9c, #CF7232);
  background: linear-gradient(to right, #285D9c, #CF7232);
}

.sidebar-prod {

  background-color: transparent !important;
}

.card-prod {
  background-color: transparent !important;
}

.border-prod {

  border-color: #2196f3;
}

.btn-group{
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }



.simplescrollup__button {
    position: fixed;
    bottom: 40px;
    right: 5px;
    padding: 5px 10px;
    transition: 3s all;
    z-index: 10000;
    background: blue;
    color: white;
    
}
.simplescrollup__button--show {
    transform: translateX(0);
}
.simplescrollup__button--hide {
    transform: translateX(100px);
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  HTML CSSResult Skip Results Iframe
EDIT ON
@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */

a {
  color: #285D9C;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #285D9C;
}

h4 {
  color: rgb(255, 255, 255);
}

h5 {
  color: rgb(40, 93, 156);
}

h6 {
  color: rgb(40, 93, 156);

}
/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
  color: #cccccc;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed !important;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:60%;
}

* {
  box-sizing: border-box;
}

Resources1× 0.5× 0.25×Rerun

/* main box */
.box { margin: 50px auto 0; }

/* login box */
.box .login { background:hsl(0, 0%, 100%); border-radius: 10px; box-shadow: 15px 15px 0px hsl(0deg 0% 72%) }
.box .login-box { padding: 30px 30px; position: relative; background: #E2AA32;}
.box .login-box h2 { margin: 0 0 25px; border-bottom: dotted 1px #aaa; padding: 10px 10px 10px 0; color: #285D9C }
.box .login-box a { text-decoration: none; color: #aaa }
.box .login-box a:hover { text-decoration: underline; }
.box .login-box .nav-link.active { background: #285D9C  }
.box .agree { margin: 10px 0 }

/* carousel box */
.box .carousel-box { background-size:cover; border-radius: 0 10px 10px 0; padding:0;}
.box .carousel-inner{border-radius:0 10px 10px 0;}
.box .carousel-inner .carousel-item { max-height: 435px; background-size:cover; }
.box .carousel-indicators { display: none }
.box .carousel-caption{ text-align: left; position: absolute; bottom: 0; width: 25%; height: 100%; right: 0; left: 0; background: #E2AA32; padding: 20px; opacity: .7; top: 0; }
.box .carousel-caption h5 { color:#285D9C; font-size: 1.50rem; font-weight: bold; }
.box .carousel-caption p { color:#fff }
.box .carousel-caption a { text-decoration: none; color: #fff }
.box .carousel-caption a:hover { color: #fff; text-decoration: underline; }
.box .carousel-control-next, .carousel-control-prev { width: auto; bottom: 5%; top: initial; }
.box .carousel-control-prev { left: 6%; }
.box .carousel-control-next { left: 15%; }

/* Cart*/
.payment-info {
  background: blue;
  padding: 10px;
  border-radius: 6px;
  color: #fff;
  font-weight: bold
}

.product-details {
  padding: 10px
}

body {
  background: #eee
}

.cart {
  background: #fff
}

.p-about {
  font-size: 12px
}

.table-shadow {
  -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42);
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42)
}

.type {
  font-weight: 400;
  font-size: 10px
}

label.radio {
  cursor: pointer
}

label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none
}

label.radio span {
  padding: 1px 12px;
  border: 2px solid #ada9a9;
  display: inline-block;
  color: #8f37aa;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 300
}

label.radio input:checked+span {
  border-color: #fff;
  background-color: blue;
  color: #fff
}

.credit-inputs {
  background: rgb(102, 102, 221);
  color: #fff !important;
  border-color: rgb(102, 102, 221)
}

.credit-inputs::placeholder {
  color: #fff;
  font-size: 13px
}

.credit-card-label {
  font-size: 9px;
  font-weight: 300
}

.form-control.credit-inputs:focus {
  background: rgb(102, 102, 221);
  border: rgb(102, 102, 221)
}

.line {
  border-bottom: 1px solid rgb(102, 102, 221)
}

.information span {
  font-size: 12px;
  font-weight: 500
}

.information {
  margin-bottom: 5px
}

.items {
  -webkit-box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.08)
}

.spec {
  font-size: 11px
}
}
.table tbody tr td .first-line {
	line-height: 1.5;
	font-weight: 400;
	font-size: 1.125em;
}
.table tbody tr td .first-line span {
	font-size: 0.875em;
	color: #969696;
	font-weight: 300;
}
.table tbody tr td .second-line {
	font-size: 0.875em;
	line-height: 1.2;
}
.table a.table-link {
	margin: 0 5px;
	font-size: 1.125em;
}
.table a.table-link:hover {
	text-decoration: none;
	color: #2aa493;
}
.table a.table-link.danger {
	color: #fe635f;
}
.table a.table-link.danger:hover {
	color: #dd504c;
}

.table-products tbody > tr > td {
	background: none;
	border: none;
	border-bottom: 1px solid #ebebeb;
	-webkit-transition: background-color 0.15s ease-in-out 0s;
	transition: background-color 0.15s ease-in-out 0s;
	position: relative;
}
.table-products tbody > tr:hover > td {
	text-decoration: none;
	background-color: #f6f6f6;
}
.table-products .name {
	display: block;
	font-weight: 600;
	padding-bottom: 7px;
}
.table-products .price {
	display: block;
	text-decoration: none;
	width: 50%;
	float: left;
	font-size: 0.875em;
}
.table-products .price > i {
	color: #8dc859;
}
.table-products .warranty {
	display: block;
	text-decoration: none;
	width: 50%;
	float: left;
	font-size: 0.875em;
}
.table-products .warranty > i {
	color: #f1c40f;
}
.table tbody > tr.table-line-fb > td {
	background-color: #9daccb;
	color: #262525;
}
.table tbody > tr.table-line-twitter > td {
	background-color: #9fccff;
	color: #262525;
}
.table tbody > tr.table-line-plus > td {
	background-color: #eea59c;
	color: #262525;
}
.table-stats .status-social-icon {
	font-size: 1.9em;
	vertical-align: bottom;
}
.table-stats .table-line-fb .status-social-icon {
	color: #556484;
}
.table-stats .table-line-twitter .status-social-icon {
	color: #5885b8;
}
.table-stats .table-line-plus .status-social-icon {
	color: #a75d54;
}

img.nav-avatar {
  background-size: cover;
  border: solid 5px #773C8A;
  border-radius: 50%;
  height: 60px;
  margin-right: 2px;
  margin-top: 50px;
  vertical-align: middle;
  width: 60px;
}

/*icon menu*/
ion-icon {
  font-size: 40px;
}

/*Whatflotante*/
.float{
	position:fixed;
	width:45px;
	height:45px;
	bottom:10px;
	right:10px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
  border-color: #25d366;
  border-width: 2px;
  border-style: solid;

}

.my-float{
	margin-top:5px;
  margin-left: -2px;
}

.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 48px;
  border-radius: 12px;
  background-color:transparents;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  position: absolute;
  top: 40px;
  position: absolute;
  left: 51%;
  margin-left: -26px;
}
.mouse__wheel {
  display: block;
  margin: 6px auto;
  width: 3px;
  height: 3px;
  border-radius: 4px;
  background-color:#222;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}
@keyframes scroll {
0% {
  opacity: 1;
  transform: translateY(0);
}

100% {
  opacity: 0;
  transform: translateY(14px);
}
}
#section-1{
  height:50px;
  width:100%;
  background-color:#2196f3;
}
#blank{
  height:1200px;
}
#section-2{
  height:50px;
  width:100%;
  background-color:#ff5722;
}
/* ABAJO HACIA ARRIBA */
.scrollup{
  position:fixed;
	width:45px;
	height:45px;
	bottom:60px;
	right:10px;
	background-color:#285D9C;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.scrollup:hover{
  text-decoration: none;
	color: #285D9C;
  background-color:#fff;
  border-color: #285D9C;
  border-width: 2px;
  border-style: solid;
}